<div id="video-wrapper">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
     <div id="preloader">
		<div id="spinner_container">
			<img src="assets/spinner.gif" alt=""/>
		</div>
	</div>
  	<!-- Side Menu -->
  	
  	
  	<nav class="bt-menu-close" id="menu-toggle">
		<a class="bt-menu-trigger" href="#"><span>Menu</span></a>
	</nav>

	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			
			<li class="sidebar-brand">
				Menú
			</li>
			<li class="show-modal nav-newsletter" data-modal="newsletter">
				<a href="#"><i class="fa fa-envelope-o"></i> Suscríbete</a>
			</li>
			<li class="show-modal nav-about" data-modal="about">
				<a href="#"><i class="fa fa-flask"></i> Acerca de Nosotros</a>
			</li>
			<li class="show-modal nav-contact" data-modal="contact">
				<a href="#"><i class="fa fa-users"></i> Contactanos</a>
			</li>

		</ul>
	</div>
			

	<section id="modal">
		<div class="bt-modal-close"><span></span></div>
		<article id="modal-newsletter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-envelope-o"></i> SUSCRÍBETE A NUESTRO BOLETÍN DE NOTICIAS</h2>
					</div>
					<div class="col-md-6">
						<p>
							Serás el primero en enterarte cuando comencemos. Recibe información y noticias sobre nuestra organización para mantenerte al tanto de nuestras actividades.					
						</p>					
					</div>
					<div class="col-md-6">
					<% if cookies[:save_lead] %>
						<p id="success-submit">Gracias por suscribirte, estaremos en contacto!</p>
					<% else %>
						<% @country = Geocoder::search(@client_ip).first.country %>
						<%= form_for Lead.new, remote:true, :html => {:class => 'form-inline', :id => 'newsletter-form'} do |f| %>
							<div class="form-group">
								<%= f.label :email, class: 'sr-only' %>
								<%= f.email_field :email, {class: 'form-control', id: 'emailInputNewsletter', placeholder: 'Tu Email'} %>
								<%= f.hidden_field :device, :value => request.env['mobvious.device_type'] %>
								<%= f.hidden_field :country, :value => @country %>
								<%= f.button 'Enviar', {id: 'newsletter-submit', class: 'btn btn-submit'} %>
							</div>	
							<small>Tranquilo(a), no utilizaremos tu correo para enviar spam.</small>
							<div id="newsletter-form-response">
								<% if notice %>
									<p class="done"><%= notice %></p>
								<% end %>
								<% if alert %>
									<p class="notice"><%= alert %></p>
								<% end %>
							</div>						
						<% end %>
					<% end %>						
					</div>
				</div>
			</div>
		</article>

		<article id="modal-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-flask"></i> Acerca de Voluntario</h2>
						<div class="col-lg-6">
							<h3 style="margin-top:0;">¿Quienes Sómos?</h3>
							<p>Voluntari.org es una iniciativa que fomenta la cultura de voluntariado brindando información interesante y real sobre instituciones e organizaciones benéficas.</p>
						</div>
						<div class="col-lg-6">
							<h3 style="margin-top:0;">¿Qué hacemos?</h3>
							<p>A través de nuestro portal trabajamos la motivación para que más personas decidan involucrarse con iniciativas sociales, construimos redes de interacción y participación voluntaria, y creamos vínculos de colaboración a largo plazo entre dichos individuos y las organizaciones partícipes.</p>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article id="modal-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-users"></i> Contacto</h2>
					</div>
					<div class="col-md-6">
						<h3>Dirección</h3>
						<address>
							<strong>Volutario.pe</strong>
							<br>
							San Borja Sur #679
							<br>
							Lima, Perú
							<br>
							<abbr title="Phone">Telf.:</abbr> (+51) 992-683358
							<br>
							<a href="mailto:#">contacto@voluntario.pe</a>
						</address>
						<p>
							Envíanos un mensaje electrónico.
						</p>
					</div>
					<div class="col-md-6">
							<h3>Donde estamos ubicados?</h3>
						<div style="width:100%">
							<div id="map" style="width:100%;height:200px;"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
		
	</section>
	
	<section id="head">
			<div class="container">
				<div class="row animated" data-animation-delay="500" data-animation="bounceInDown">
					<div class="col-md-12 text-center">
						<img src="assets/logo.png" alt="Voluntario" class="logo">
						<h1 class="title-h1">¡Estamos en Construccón!</h1>
						<hr>
						<h3 class="info-text"> 
							Bienvenidos a <b>Voluntario.pe</b> <br>
Estamos desarrollando al primer portal de voluntariado y responsabilidad social online de nuestro país. 
Suscríbete y te avisaremos apenas abramos las puertas de nuestra nueva comunidad. 
Únete a la evolución del trabajo voluntario en el Perú.</br></br>
										
						<a href="#" class="show-modal btn btn-default" data-modal="newsletter"><i class="fa fa-envelope-o"></i> SUSCRIBIRSE</a>
						</h3>
					</div>
				</div>
			</div><!--container-->
	</section>

    <footer>    	
     		<div class="container">
				<div class="row text-center animated" data-animation-delay="200" data-animation="bounceIn">
					<div class="col-md-12">
						<div class="social-icons">
							<a href="https://www.facebook.com/VoluntariOrg" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>	
							<a href="https://twitter.com/VoluntariOrg" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>	
							<a href="https://www.youtube.com/channel/UC9WII6SzHn8n3BMdLUqKWnA
" target="_blank" class="youtube"><i class="fa fa-youtube-play"></i> </a>						
							<a href="https://www.linkedin.com/company/voluntari
" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i> </a>							
							<a href="https://www.pinterest.com/VoluntariOrg/
" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i> </a>
						</div>
					</div>
					        <p class="copy">&copy; Voluntario.pe es gestionado por SumakQausay.<br>
Lima, Perú -<%= Time.now.year %></p>
				</div>
			</div>
    </footer>

      
     <div class="bokeh"></div>
      				
		<div id="slides">
			<div class="slides-container">
				<img src="assets/wallp1.jpg" alt="">
				<img src="assets/wallp2.jpg" alt="">				
				<img src="assets/wallp3.jpg" alt="">
				<img src="assets/wallp4.jpg" alt="">							
			</div>
		</div>
      
          
    </div><!--video-wrapper-->